<form class="form-horizontal form-validation" name="form" novalidate>
	<h3>Add Documents</h3>
	<div class="ngdialog-message">
		<div file-upload data-control="fileUpload"></div>
	</div>
	<div class="ngdialog-buttons text-right">
	    <button type="button" class="btn btn-primary btn-o" ng-click="create()" ng-disabled="!form.$valid">Save</button>
	    <button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
	</div>
	
</form>