<div>
    <div class="form-group">
        <i class="fa fa-save" data-ng-click="save()"></i> <input ng-model="control.title"/>
    </div>

    <div class="form-group" ng-repeat="item in control.items">
        <i class="fa fa-plus" data-ng-click="add()"></i> <i class="fa fa-trash" data-ng-click="remove(item)"></i>
        <input type="text" ng-model="item.title"/>
    </div>
</div>