<div class="questionnare choiceSingleAnswerDropdown">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <select class="cs-select cs-skin-elastic" ng-change="select(item)" ng-model="item" ng-options="item as item.title for item in control.items"></select>
        </div>
    </div>
</div>
