<form class="form-horizontal form-validation" name="form" novalidate>
	<div class="ngdialog-message">
		<div class="form-group">
			<label class="control-label col-md-3">
				Question
			</label>
			<div class="col-md-9">
				<textarea style="resize:none;" class="form-control" rows="5" ng-model="question.title"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Default Answer
			</label>
			<div class="col-md-9">
                <input type="text" placeholder="Default Answer" class="form-control" ng-model="question.default_answer" required />
			</div>
		</div>
	</div>
	<div class="ngdialog-buttons text-right">
	    <button type="button" class="btn btn-primary btn-o" ng-click="create()" ng-disabled="!form.$valid">Save</button>
	    <button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
	</div>
</form>