﻿<div id="create-questionnaire">
    <div class="row">
        <div class="col-sm-12">
            <div ng-show="showing">
                <div class="col-xs-12 col-md-6">
                    <label>Select question type</label>
                    <select class="form-control" ng-model="type" ng-options="type as type.name for type in QuestionType"></select>
                    <div class="form-group">
                        <label>Question Text: </label>
                        <input type="text" ng-model="questionText" class="form-control" placeholder="Enter text of question" />
                    </div>
                    <div ng-if="type.type == 'rankOrder'" class="form-group">
                        <label>Description: </label>
                        <input type="text" ng-model="description" class="form-control" placeholder="Enter text of question" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p>Preview</p>
                    <div choice-multi-answer-horizontal data-control="ChoiceMultiAnswerHorizontal" ng-if="type.type == 'ChoiceMultiAnswerHorizontal'"></div>
                    <div choice-multi-answer-select-box data-control="ChoiceMultiAnswerSelectBox" ng-if="type.type == 'ChoiceMultiAnswerSelectBox'"></div>
                    <div choice-multi-answer-vertical data-control="choiceMultiAnswerVertical" ng-if="type.type == 'choiceMultiAnswerVertical'"></div>
                    <div choice-single-answer-dropdown data-control="choiceSingleAnswerDropdown" ng-if="type.type == 'choiceSingleAnswerDropdown'"></div>
                    <div choice-single-answer-horizontal data-control="choiceSingleAnswerHorizontal" ng-if="type.type == 'choiceSingleAnswerHorizontal'"></div>
                    <div choice-single-answer-vertical data-control="choiceSingleAnswerVertical" ng-if="type.type == 'choiceSingleAnswerVertical'"></div>
                    <div number-allowcation-constant-sum data-control="numberAllowcationConstantSum" ng-if="type.type == 'numberAllowcationConstantSum'"></div>
                    <div open-ended-text-comment-box data-control="openEndedTextCommentBox" ng-if="type.type == 'openEndedTextCommentBox'"></div>
                    <div open-ended-text-date-time data-control="openEndedTextDateTime" ng-if="type.type == 'openEndedTextDateTime'"></div>
                    <div open-ended-text-one-line data-control="openEndedTextOneLine" ng-if="type.type == 'openEndedTextOneLine'"></div>
                    <div rank-order data-control="rankOrder" ng-if="type.type == 'rankOrder'"></div>
                    <div file-upload data-control="fileUpload" ng-if="type.type == 'fileUpload'"></div>
                    <div datalist data-control="datalist" ng-if="type.type == 'datalist'"></div>
                    <div matrix-multi-answer-per-row data-control="matrixMultiAnswerPerRow" ng-if="type.type == 'matrixMultiAnswerPerRow'"></div>
                    <div matrix-single-answer-per-row data-control="matrixSingleAnswerPerRow" ng-if="type.type == 'matrixSingleAnswerPerRow'"></div>
                    <div matrix-spreadsheet data-control="matrixSpreadsheet" ng-if="type.type == 'matrixSpreadsheet'"></div>
                </div>
            </div>

            <div ng-hide="showing">
                <div ng-show="showOptionField" class="col-xs-12 col-md-6 no-pa">
                    <p>Please add fields to your Question.</p>
                    <div ng-if="!isMatrix" ng-repeat="item in items" class="row margin-bottom-5">
                        <div class="col-sm-10">
                            <input type="text" placeholder="Option {{$index + 1}}" class="form-control" ng-model="item.title" />
                        </div>
                        <div class="col-sm-2">
                            <button ng-click="deleteField(item,type.type)" class="btn btn-o btn-default"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div ng-if="isMatrix" ng-repeat="column in columns">
                        <div class="col-sm-10 no-padding margin-top-10">
                            <input type="text" placeholder="Column {{$index + 1}}" class="form-control" ng-model="column.title" />
                        </div>
                        <div class="col-sm-2  margin-top-10">
                            <button style="display:block;" ng-click="deleteField(column,type.type,true)" class="btn btn-o btn-default"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <button ng-click="addColumn(type.type)" ng-if="isMatrix" class="btn btn-primary btn-o margin-top-10"> <i class="fa fa-plus"></i> Add Column</button>
                    <div ng-if="isMatrix" ng-repeat="row in rows" ng-class="{'margin-bottom-10' : $index == (rows.length-1)}">
                        <div class="col-sm-10 no-padding margin-top-10">
                            <input type="text" ng-blur="addit(row,type.type,$index)" placeholder="Row {{$index + 1}}" class="form-control" ng-model="row.title" />
                        </div>
                        <div class="col-sm-2  margin-top-10">
                            <button ng-click="deleteField(row,type.type,false)" class="btn btn-o btn-default"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <button ng-click="addRow(type.type)" ng-disabled="columns.length< 0" style="display:block;" ng-if="isMatrix" class="btn margin-top-10 btn-primary btn-o margin-top-10"> <i class="fa fa-plus"></i> Add Row</button>
                        <button ng-click="addField(type.type)"  ng-if="!isMatrix" class="btn btn-primary btn-o margin-top-10"> <i class="fa fa-plus"></i> Add Field</button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p>Preview</p>
                        <div style="word-wrap:break-word;" choice-multi-answer-horizontal data-control="ChoiceMultiAnswerHorizontalPreview" ng-if="type.type == 'ChoiceMultiAnswerHorizontal'"></div>
                        <div style="word-wrap:break-word;" choice-multi-answer-select-box data-control="ChoiceMultiAnswerSelectBoxPreview" ng-if="type.type == 'ChoiceMultiAnswerSelectBox'"></div>
                        <div style="word-wrap:break-word;" choice-multi-answer-vertical data-control="ChoiceMultiAnswerVerticalPreview" ng-if="type.type == 'choiceMultiAnswerVertical'"></div>
                        <div style="word-wrap:break-word;" choice-single-answer-dropdown data-control="ChoiceSingleAnswerDropdownPreview" ng-if="type.type == 'choiceSingleAnswerDropdown'"></div>
                        <div style="word-wrap:break-word;" choice-single-answer-horizontal data-control="ChoiceSingleAnswerHorizontalPreview" ng-if="type.type == 'choiceSingleAnswerHorizontal'"></div>
                        <div style="word-wrap:break-word;" choice-single-answer-vertical data-control="ChoiceSingleAnswerVerticalPreview" ng-if="type.type == 'choiceSingleAnswerVertical'"></div>
                        <div style="word-wrap:break-word;" number-allowcation-constant-sum data-control="NumberAllowcationConstantSumPreview" ng-if="type.type == 'numberAllowcationConstantSum'"></div>
                        <div open-ended-text-comment-box data-control="OpenEndedTextCommentBoxPreview" ng-if="type.type == 'openEndedTextCommentBox'"></div>
                        <div open-ended-text-date-time data-control="OpenEndedTextDateTimePreview" ng-if="type.type == 'openEndedTextDateTime'"></div>
                        <div open-ended-text-one-line data-control="OpenEndedTextOneLinePreview" ng-if="type.type == 'openEndedTextOneLine'"></div>
                        <div rank-order data-control="RankOrderPreview" ng-if="type.type == 'rankOrder'"></div>
                        <div file-upload data-control="FileUploadPreview" ng-if="type.type == 'fileUpload'"></div>
                        <div datalist data-control="datalist" ng-if="type.type == 'datalist'"></div>
                        <div matrix-multi-answer-per-row data-control="MatrixMultiAnswerPerRowPreview" ng-if="type.type == 'matrixMultiAnswerPerRow'"></div>
                        <div matrix-single-answer-per-row data-control="MatrixSingleAnswerPerRowPreview" ng-if="type.type == 'matrixSingleAnswerPerRow'"></div>
                        <div matrix-spreadsheet data-control="MatrixSpreadsheetPreview" ng-if="type.type == 'matrixSpreadsheet'"></div>
                    </div>

                </div>
                <div class="col-sm-12 no-padding margin-top-15">
                    <button ng-click="next(type.type)" class="btn btn-default">
                        <span ng-if="showing">Next <i class="fa fa-arrow-right"></i></span>
                        <span ng-if="!showing"><i class="fa fa-arrow-left"></i> Back</span>
                    </button>
                    <button ng-if="!showing" class="btn-o btn btn-primary" ng-click="post()">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
