<div class="questionnare dataList">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <table class="col-xs-12">
                <tr ng-repeat="item in control.getValue()">
                    <td ng-bind="item.title"></td>
                    <td ng-if="item.type == 'choiceSingleAnswerDropdown'">
                        <div class="form-group">
                        	<select class="cs-select cs-skin-elastic" ng-change="select(ItemData)" ng-model="ItemData" ng-options="ItemData as ItemData.title for ItemData in item.items"></select>
                        </div>
                    </td>
                    <td ng-if="item.type == 'openEndedTextOneLine'">
                        <div class="form-group">
                        	<input type="text" class="form-control" ng-model="item.value">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
