<div class="fade-in-up">
	<div class="row">
		<div class="breadcrumb-nav col-lg-2 col-md-3">
			<ul>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs-create.create">
						<i class="fa fa-dribbble"></i> Create Job
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.create-interview"><i class="fa fa-question-circle"></i> Create interview, assessment, and Questionnaire</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.candidate-review"><i class="fa fa-group"></i> Review Candidates</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.phone-screen"><i class="ti-microphone"></i> Phone Screen</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.review-video-interview"><i class="ti-video-clapper"></i> Review Video Interview</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.review-question-result"><i class="fa fa-thumbs-up"></i> Review Questionnaire and Results</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.interview-note"><i class="ti-book"></i> Interview Notes</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.reference-check"><i class="ti-check"></i> Reference Checks</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.offer-letter"><i class="ti-bookmark-alt"></i> Offer Letter</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="fox.jobs.placement-record"><i class="ti-settings"></i> Placement Record</a>
				</li>
			</ul>
		</div>
		<div class="container-breadcrumb col-lg-10 col-md-9 fade-in-up" ui-view>
		</div>
	</div>
</div>