<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Add Placement Record</h1>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-addon"> <i class="ti-search"></i> </span>
						</div>
					</div>
					<div class="panel panel-white">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Add Placement Record</h4>
							<ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
						</div>
						<div class="panel-body">
							<div class="panel-scroll height-425" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
								<div class="table-responsive">
									<table class="table table-hover">
										<tbody>
										<tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)"
											ng-repeat="item in vm.candidates">
											<td class="pointer">
												{{item.name}}
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="form-group text-right">
						<button class="btn btn-primary btn-o" type="button" ng-click="vm.addNewRecords();">
                           New Record
                        </button>
                        <button class="btn btn-primary btn-o" type="button">
                        	<i class="fa fa-share-alt"></i> Share
                        </button>
                    </div>
					<div class="tabbable">
						<tabset justified="true" class="tabbable">
							<tab heading="General Information">
								<p class="text-bold">Jenniffer Kiss</p>
								<form>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Position" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Wage" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Start Date" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Vacation Time" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Phone Number" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Company Email" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Report to" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" placeholder="Benefits Start Date" class="form-control">
									</div>
									<div class="form-group col-md-12">
										<textarea rows="5" placeholder="Add comment..." class="form-control"></textarea>
									</div>
									<div class="form-group col-md-12">
										<strong>Time with Company:  10 Years 5 Days</strong>
										<button class="btn btn-o btn-success pull-right" type="button"><i class="ti-save"></i> Save</button>
									</div>
								</form>
							</tab>
							<tab heading="Contracts & Documents">
								<form class="form-inline">
									<button class="btn btn-primary pull-right btn-o" ng-click="vm.uploadDocument()">Upload Contract</button>
								</form>
								<table class="table table-striped table-user">
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th>Title</th>
											<th>Uploaded</th>
											<th>View</th>
											<th>Edit /Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="checkbox clip-check check-primary">
													<input type="checkbox" id="checkbox_{{item.getId()}}" ng-model="item.checked" />
													<label for="checkbox_{{item.getId()}}"></label>
												</div>
											</td>
											<td>Account Executive</td>
											<td>5 Days</td>
											<td><i class="ti-eye text-primary"></i></td>
											<td>
												<a ui-sref="fox.jobs.edit({id: item.id})" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
												<a href="#" ng-click="vm.delete(item.getId())" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="checkbox clip-check check-primary">
													<input type="checkbox" id="checkbox_{{item.getId()}}" ng-model="item.checked" />
													<label for="checkbox_{{item.getId()}}"></label>
												</div>
											</td>
											<td>Account Executive</td>
											<td>10 Days</td>
											<td><i class="ti-eye text-primary"></i></td>
											<td>
												<a ui-sref="fox.jobs.edit({id: item.id})" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
												<a href="#" ng-click="vm.delete(item.getId())" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</tab>
							<tab heading="Benefits">
								<div class="title-heading">
									<h4 class="title text-primary">Benefits</h4>
									<button ng-click="vm.addBenifits()" class="btn btn-primary btn-o" type="button"><i class="fa fa-plus"></i> Add</button>
								</div>
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr class="info">
												<th width="55">#</th>
												<th>Title</th>
												<th>Description</th>
												<th>Start Date</th>
												<th width="100">Edit / Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in vm.benefits">
												<td>{{vm.getBenefitIndex($index)}}</td>
												<td ng-bind-html="item.title | nl2br"></td>
												<td ng-bind-html="item.description | nl2br"></td>
												<td ng-bind-html="item.start_date | nl2br"></td>
												<td>
													<a href="#" ng-click="vm.edit(item)" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
													<a href="#" ng-click="vm.delete(item)" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
												</td>
											</tr>
											<tr ng-if="vm.benefits.length == 0">
												<td colspan="3">No record found!</td>
											</tr>
										</tbody>
									</table>
									<div class="text-right">
										<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.benefitPaginator.per_page" total-items="vm.benefitPaginator.total" ng-model="vm.benefitPaginator.current_page" ng-change="vm.getBenefitList()"></pagination>
									</div>
								</div>
								
							</tab>
						</tabset>
					</div>
				</div>
			</div>
			<div class="form-group floating-nav-jobs text-center">
				<div>
				<button ng-click="vm.gotoOfferLetter()" class="btn btn-o btn-success" type="button"><i class="fa fa-arrow-left"></i> Offer Letters</button>
				<button class="btn btn-o btn-primary" type="button">Complete Hiring <i class="fa fa-arrow-right"></i></button>
			</div>
				</div>
		</div>
	</div>
</div>
