<div>
    <h3>{{control.title}}</h3>
    <label class="checkbox-inline" ng-repeat="item in control.items">
        <input name="{{control.name}}" type="radio" ng-model="item.value" ng-value="{{item.value}}" /> {{item.title}}
    </label>
</div>