<div class="container-fluid container-fullw interview bg-white">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-primary">
                Create Video Interview, Assessment & Questionnaire
            </h1>
            <div class="tabbable">
                <tabset justified="true" class="tabbable">
                    <tab heading="Video Interview">
                        <div class="title-heading">
                            <h4 class="title text-primary">Create or Edit Video Interview Questions</h4>
                            <button ng-click="vm.addQuestion()" class="btn btn-primary btn-o" type="button"><i class="fa fa-plus"></i> Question</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="info">
                                        <th width="55">#</th>
                                        <th>Question</th>
                                        <th width="100">Edit / Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.questions">
                                        <td>{{vm.getQuestionIndex($index)}}</td>
                                        <td ng-bind-html="item.title | nl2br"></td>
                                        <td>
                                            <a href="#" ng-click="vm.edit(item)" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
                                            <a href="#" ng-click="vm.delete(item)" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-if="vm.questions.length == 0">
                                        <td colspan="3">No record found!</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.questionPaginator.per_page" total-items="vm.questionPaginator.total" ng-model="vm.questionPaginator.current_page" ng-change="vm.getQuestionList()"></pagination>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Choose Assessment">
                        <form action="http://www.ascentiiassessments.com/RF/Scripts/default.asp" method="POST" name="frmProcessMenu">
                            <input type="hidden" id="hidScreenName" name="hidScreenName" />
                            <input type="hidden" id="hidScreenAction" name="hidScreenAction" />
                        </form>

                        <div class="row">
                            <div class="col-sm-12">
                                <form name="frmProcess">
                                    <input TYPE="hidden" ng-model="vm.hidScreenName" ng-init="vm.hidScreenName=COMPANYURL" ID="hidScreenName" NAME="hidScreenName" VALUE="COMPANYURL" />
                                    <input TYPE="hidden" ng-model="vm.hidScreenCompanyID" ID="hidScreenCompanyID" NAME="hidScreenCompanyID" VALUE="136" />
                                    <input TYPE="hidden" ng-model="vm.hidScreenAction" ID="hidScreenAction" NAME="hidScreenAction" />
                                    <input TYPE="hidden" ng-model="vm.hidScreenCandidateID" ID="hidScreenCandidateID" NAME="hidScreenCandidateID" VALUE="4505246717531652256C3F727A2C653A4C184719092B0B473D122B0469401A75462054405F3C472466017E164F214C2B7A0C6F10572C" />
                                    <input TYPE="hidden" ng-model="vm.hidScreenPositionDescID" ID="hidScreenPositionDescID" NAME="hidScreenPositionDescID" VALUE="0" />
                                    <input TYPE="hidden" ng-model="vm.hidScreenEmailID" ID="hidScreenEmailID" NAME="hidScreenEmailID" VALUE="0" />

                                    <div class="form-group">
                                        <label>Job Family</label>
                                        <select class="form-control"
                                                name="cboTraitFit"
                                                size="0"
                                                ng-init="s = 'hey fill it'" ;
                                                ng-model="vm.select_job_primary"
                                                ng-change="vm.swapOptions();"
                                                ng-options="job as job.label for job in vm.job_family"></select><br />

                                        <select class="bodytext"
                                                name="cboJob"
                                                size="0"
                                                ng-disabled="!vm.select_job_primary"
                                                ng-model="vm.select_job_secondary"
                                                ng-init="vm.select_job_secondary = options[0]"
                                                ng-options="job as job.label for job in vm.sub_jobs">
                                            <option style="display:none" value="">Select a Job</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" ng-click="vm.processForm()" class="btn btn-default">Send</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </tab>
                    <tab heading="Build Questionnaire">
                        <!-- <div survey job="vm.job"></div> -->
                        <div create-questionnaire></div>
                        <div>
                            <div class="title-heading">
                                <h4 class="title text-primary">Create Questionnaire</h4>
                                <button ng-click="vm.addAssessment()" class="btn btn-primary btn-o" type="button"><i class="fa fa-plus"></i> Question</button>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="info">

                                            <th width="55">#</th>

                                            <th>Question</th>
                                            <th width="100">Edit / Delete</th>

                                        </tr>

                                    </thead>

                                    <tbody>

                                        <tr ng-repeat="item in vm.questions">

                                            <td>{{vm.getQuestionIndex($index)}}</td>

                                            <td ng-bind-html="item.title | nl2br"></td>
                                            <td>
                                                <a href="#" ng-click="vm.edit(item)" class="btn btn-transparent"><i class="fa fa-edit"></i></a>
                                                <a href="#" ng-click="vm.delete(item)" class="btn btn-transparent btn-xs"><i class="fa fa-trash-o"></i></a>

                                            </td>

                                        </tr>

                                        <tr ng-if="vm.questions.length == 0">

                                            <td colspan="3">No record found!</td>

                                        </tr>

                                    </tbody>

                                </table>
                                <div class="text-right">
                                    <pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.questionPaginator.per_page" total-items="vm.questionPaginator.total" ng-model="vm.questionPaginator.current_page" ng-change="vm.getQuestionList()"></pagination>

                                </div>

                            </div>


                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="form-group text-center">
                <button ng-click="vm.gotoJob()" class="btn btn-o btn-success" type="button"><i class="fa fa-arrow-left"></i> Edit Job Details</button>
                <button class="btn btn-o btn-primary" type="button" ng-click="vm.postJob()">Post Job <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>