<div id="create-questionnaire">
	<div class="col-xs-12 col-md-6">
		<div class="form-group">
			<label>Select question type</label>
			<select class="form-control" ng-model="type" ng-options="type as type.name for type in QuestionType"></select>
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Preview</p>
		<div choice-multi-answer-horizontal data-control="ChoiceMultiAnswerHorizontal" ng-if="type.type == 'ChoiceMultiAnswerHorizontal'"></div>
		<div choice-multi-answer-select-box data-control="ChoiceMultiAnswerSelectBox" ng-if="type.type == 'ChoiceMultiAnswerSelectBox'"></div>
		<div choice-multi-answer-vertical data-control="choiceMultiAnswerVertical" ng-if="type.type == 'choiceMultiAnswerVertical'"></div>
		<div choice-single-answer-dropdown data-control="choiceSingleAnswerDropdown" ng-if="type.type == 'choiceSingleAnswerDropdown'"></div>
		<div choice-single-answer-horizontal data-control="choiceSingleAnswerHorizontal" ng-if="type.type == 'choiceSingleAnswerHorizontal'"></div>
		<div choice-single-answer-vertical data-control="choiceSingleAnswerVertical" ng-if="type.type == 'choiceSingleAnswerVertical'"></div>
		<div number-allowcation-constant-sum data-control="numberAllowcationConstantSum" ng-if="type.type == 'numberAllowcationConstantSum'"></div>
		<div open-ended-text-comment-box data-control="openEndedTextCommentBox" ng-if="type.type == 'openEndedTextCommentBox'"></div>
		<div open-ended-text-date-time data-control="openEndedTextDateTime" ng-if="type.type == 'openEndedTextDateTime'"></div>
		<div open-ended-text-one-line data-control="openEndedTextOneLine" ng-if="type.type == 'openEndedTextOneLine'"></div>
		<div rank-order data-control="rankOrder" ng-if="type.type == 'rankOrder'"></div>
		<div file-upload data-control="fileUpload" ng-if="type.type == 'fileUpload'"></div>
		<div datalist data-control="datalist" ng-if="type.type == 'datalist'"></div>
		<div matrix-multi-answer-per-row data-control="matrixMultiAnswerPerRow" ng-if="type.type == 'matrixMultiAnswerPerRow'"></div>
		<div matrix-single-answer-per-row data-control="matrixSingleAnswerPerRow" ng-if="type.type == 'matrixSingleAnswerPerRow'"></div>
		<div matrix-spreadsheet data-control="matrixSpreadsheet" ng-if="type.type == 'matrixSpreadsheet'"></div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default">
			<span>Next</span>
			<i class="fa fa-arrow-right"></i>
		</button>
	</div>
</div>