<div ng-show="!isEditing() && hasSurvey()">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Title</td>
            <td width="50">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="survey in surveys">
            <td>{{::survey.title}}</td>
            <td align="center"><i class="fa fa-pencil pointer" data-ng-click="edit(survey)"></i></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="isEditing()">
    <h3>Add Questions</h3>

    <div class="form-group">
        <select ng-model="type">
            <option value="boolean">Yes/No</option>
            <option value="single-choice">Single choice</option>
            <option value="multiple-choice">Multiple choice</option>
            <option value="drop-down">Drop Down</option>
        </select>
        <button class="btn btn-sm" data-ng-click="add()"><i class="fa fa-plus-circle"></i> Add</button>
    </div>
    <div ng-repeat="question in questions">
        <div ng-if="question.type=='boolean'" question-type-boolean data-control="question"></div>
        <div ng-if="question.type=='single-choice'" question-type-single-choice data-control="question"></div>
        <div ng-if="question.type=='multiple-choice'" question-type-multiple-choice data-control="question"></div>
        <div ng-if="question.type=='drop-down'" question-type-dropdown data-control="question"></div>
    </div>
</div>

