<div class="questionnare numberAllowcationConstantSum">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <table class="col-xs-12">
                <tr ng-repeat="item in control.items">
                    <td ng-bind="item.title"></td>
                    <td>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="item.value" ng-change="change(item)">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td ng-bind="control.total"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
