<form class="form-horizontal form-validation" name="form" novalidate>
	<div class="ngdialog-message">
		<div class="form-group">
			<label class="control-label col-md-3">
				Email
			</label>
			<div class="col-md-9">
				<input type="email" required="" ng-model="model.email" class="form-control" placeholder="Email" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				First Name
			</label>
			<div class="col-md-9">
				<input type="text" required="" ng-model="model.first_name" class="form-control" placeholder="First Name" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Last Name
			</label>
			<div class="col-md-9">
				<input type="text" required="" ng-model="model.last_name" class="form-control" placeholder="Last Name" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Phone
			</label>
			<div class="col-md-9">
				<input type="text" required="" ng-model="model.phone" class="form-control" placeholder="Phone" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Position
			</label>
			<div class="col-md-9">
				<select class="form-control" ng-model="model.role" ng-options="role as role for role in roles"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Password
			</label>
			<div class="col-md-9">
				<input type="password" required="" ng-model="model.password" class="form-control" placeholder="Password" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Repeat Password
			</label>
			<div class="col-md-9">
				<input type="password" required="" ng-model="model.password_confirmation" class="form-control" placeholder="Repeat Password" />
			</div>
		</div>
	</div>
	<div class="ngdialog-buttons">
	    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('cancel')">Cancel</button>
	    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(model)" ng-disabled="!form.$valid">Add</button>
	</div>
</form>