<div class="questionnare choiceMultiAnswerVertical">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div ng-repeat="item in control.items">
                <input type="checkbox" id="answer-{{control.name}}-{{$index}}" ng-model="item.value" ng-change="select(item)">
                <label for="answer-{{control.name}}-{{$index}}" ng-bind="item.title"></label>
            </div>
        </div>
    </div>
</div>
