<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Administraction</h1>
		</div>
	</div>
	
    <form class="form-horizontal" ng-submit="CreateInvoice(email, name, amount, status)" role="form">
		<div class="form-group">
            <label class="control-label col-sm-2" for="date-to-charge">Company</label>
            <div class="col-sm-10">
               <select class="form-control" ng-options="company as company.name for company in companies track by company.id" ng-model="status"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="name" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Amount:</label>
            <div class="col-sm-10">
                <input type="text" name="amount" ng-model="amount" class="form-control" placeholder="Amount" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="date-to-charge">Status</label>
            <div class="col-sm-10">
                <select class="form-control" ng-options="status for status in validStatus" ng-model="status"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
