<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Accounting</h1>
			<div class="form-group text-right">
				<button ng-click="vm.gotoRevenue()" class="btn btn-primary btn-o" type="button">Revenue</button>
				<button ng-click="vm.gotoInvoices()" class="btn btn-primary btn-o" type="button">Invoices</button>
			</div>
		</div>
	</div>
	<div class="clearfix md-pull">
		<form class="form-inline pull-left">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="From" bs-datepicker ng-model="vm.from" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body" />
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="To" bs-datepicker ng-model="vm.to" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="body"/>
			</div>
		</form>
		<div class="btn-group pull-right">
			<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(0)" ng-click="vm.changeFilter(0)">
				Today
			</a>
			<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(-1)" ng-click="vm.changeFilter(-1)">
				Yesterday
			</a>
			<a class="btn btn-primary btn-o active" href="#" ng-class="vm.isFilterActive(-7)" ng-click="vm.changeFilter(-7)">
				Last 7 Days
			</a>
			<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(-30)" ng-click="vm.changeFilter(-30)">
				Last 30 Days
			</a>
			<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(-90)" ng-click="vm.changeFilter(-90)">
				Last 90 Days
			</a>
		</div>
	</div>
	<div class="row">
		<div class="tabbable margin-top-20">
		  <ul class="nav nav-tabs vertical nav-justified">
				<li ng-class="{active: vm.isTab(1)}" ng-click="vm.selectTab(1)">
		  		<a href="#">
			  		<div class="panel panel-tab">
							<div class="panel-heading border-light text-center">
								<h4 class="panel-title">REVENUE</h4>
							</div>
							<div class="panel-body">
								<div class="static-block">
									<div class="chart-statistics normal-font-family">
										<h1>${{vm.totalRevenue}}</h1>
										<div class="rate">
											<i class="fa fa-caret-up text-green"></i>
											<span class="value">+2000</span><span class="percentage">%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li  ng-class="{active: vm.isTab(2)}" ng-click="vm.selectTab(2)">
		  		<a href="#">
			  		<div class="panel panel-tab">
							<div class="panel-heading border-light text-center">
								<h4 class="panel-title">JOBS THIS MONTH</h4>
							</div>
							<div class="panel-body">
								<div class="static-block">
									<div class="chart-statistics normal-font-family">
										<h1>{{vm.totalJobs}}</h1>
										<div class="rate">
											<i class="fa fa-caret-up text-green"></i>
											<span class="value">+20</span><span class="percentage">%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li  ng-class="{active: vm.isTab(3)}" ng-click="vm.selectTab(3)">
					<a href="#">
			  		<div class="panel panel-tab">
							<div class="panel-heading border-light text-center">
								<h4 class="panel-title">PLACEMENT RATE</h4>
							</div>
							<div class="panel-body">
								<div class="static-block">
									<div class="chart-statistics normal-font-family">
										<h1>10,5</h1>
										<div class="rate">
											<i class="fa fa-caret-down text-red"></i>
											<span class="value">-2,3</span><span class="percentage">%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<div class="tab-content" ng-if="vm.tab==1">
				<div class="tab-pane active">
					<div class="panel panel-white no-border no-radius">
						<div class="panel-heading text-center">
							<h4 class="panel-title">Revenue</h4>
						</div>
						<div class="panel-body">
							<div class="height-200">
								<canvas class="tc-chart" tc-chartjs-line chart-options="revenueGraphoptions" chart-data="revenueGraphData" chart-legend="chart1" width="100%"></canvas>
								<div class="margin-top-20">
									<div tc-chartjs-legend chart-legend="chart1" class="inline pull-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content" ng-if="vm.tab==2">
				<div class="tab-pane active">
					<div class="panel panel-white no-border no-radius">
						<div class="panel-heading text-center">
							<h4 class="panel-title">Jobs this month</h4>
						</div>
						<div class="panel-body">
							<div class="height-200">
								<canvas class="tc-chart" tc-chartjs-line chart-options="jobsGraphoptions" chart-data="jobsGraphData" chart-legend="chart1" width="100%"></canvas>
								<div class="margin-top-20">
									<div tc-chartjs-legend chart-legend="chart1" class="inline pull-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content" ng-if="vm.tab==3">
				<div class="tab-pane active">
					<div class="panel panel-white no-border no-radius">
						<div class="panel-heading text-center">
							<h4 class="panel-title">Placement rate</h4>
						</div>
						<div class="panel-body">
							<div class="height-200">
								<canvas class="tc-chart" tc-chartjs-line chart-options="jobsGraphoptions" chart-data="jobsGraphData" chart-legend="chart1" width="100%"></canvas>
								<div class="margin-top-20">
									<div tc-chartjs-legend chart-legend="chart1" class="inline pull-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
