<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Company</h1>
			<div class="row">
				<div class="col-md-7">
					<div class="title-heading">
						<h4 class="title text-primary">Company Information</h4>
					</div>
					<form>
						<div class="form-group">
							<input type="text" placeholder="Company Name" ng-model="vm.company.name" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Primary Contact" ng-model="vm.company.primary_contact" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Phone Number" ng-model="vm.company.phone" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Email" ng-model="vm.company.email" class="form-control">
						</div>
						<div class="form-group">
							<textarea rows="5" placeholder="Add comment..." class="form-control"></textarea>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<div class="title-heading">
						<h4 class="title text-primary">Employees</h4>
						<button ng-click="vm.addUser()" class="btn btn-primary btn-o" type="button"><i class="fa fa-user-plus"></i> User</button>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Position</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="employee in vm.employees">
								<td ng-bind="$index + 1"></td>
								<td><span ng-bind="employee.first_name"></span> <span ng-bind="employee.last_name"></span></td>
								<td ng-bind="employee.role_name"></td>
							</tr>
						</tbody>
					</table>
					<div class="text-right">
						<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
					</div>
				</div>
			</div>
			<div class="form-group text-center margin-top-30">
				<button class="btn btn-o btn-primary" type="button" ng-click="vm.save(vm.company)"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</div>