<div class="ngdialog-message">
	<div pdf-viewer data-model="data" pdf-url="pdfUrl"></div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('no')">Close</button>
</div>