<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<h1 class="mainTitle text-primary">Candidates</h1>
		<form>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" ng-keypress="vm.keypress($event)" ng-model="vm.keyword" />
					<span ng-click="vm.getList()" class="input-group-addon pointer"> <i class="ti-search"></i> </span>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="info">
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items">
						<td>{{item.name}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.email}}</td>
						<td class="text-center invite-phone">
							<div class="checkbox clip-check check-primary">
								<input ng-model="item.is_invited" ng-change="vm.updateInvited(item)" type="checkbox" id="checkbox_{{item.getId()}}" />
								<label for="checkbox_{{item.getId()}}"></label>
							</div>
						</td>
					</tr>
					<tr ng-if="vm.items.length == 0">
						<td colspan="7">
							No record found!
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
			</div>
		</div>
		<div class="ngdialog-buttons text-right">
			<button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
		</div>
	</div>
</div>
