<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<h1 class="mainTitle text-primary">Review Candidates</h1>
		<form>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" ng-keypress="vm.keypress($event)" ng-model="vm.keyword" />
					<span ng-click="vm.getList()" class="input-group-addon pointer"> <i class="ti-search"></i> </span>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="info">
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>City</th>
						<th width="70">Resume</th>
						<th width="100">Cover Letter</th>
						<th width="160">Invite to Phone Screen</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items">
						<td>{{item.name}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.email}}</td>
						<td>{{item.address.city}}</td>
						<td ng-click="vm.openDetail(item)" class="text-center">
							<a href="#">
								<i class="ti-eye"></i>
							</a>
						</td>
						<td ng-click="vm.openCoverLetter(item)" class="text-center">
							<a href="#">
								<i class="ti-email"></i>
							</a>
						</td>
						<td class="text-center invite-phone">
							<div class="checkbox clip-check check-primary">
								<input ng-model="item.is_invited" ng-change="vm.updateInvited(item)" type="checkbox" id="checkbox_{{item.getId()}}" />
								<label for="checkbox_{{item.getId()}}"></label>
							</div>
						</td>
					</tr>
					<tr ng-if="vm.items.length == 0">
						<td colspan="7">
							No record found!
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
			</div>
		</div>
		<div class="form-group text-center">
			<button ng-click="vm.gotoQuestion()" class="btn btn-o btn-success" type="button"><i class="fa fa-arrow-left"></i> Create Questions</button>
			<button ng-click="vm.gotoPhoneScreen()" class="btn btn-o btn-primary" type="button">Phone Screen <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</div>
