<div class="container w-xxl w-auto-xs">
    <div class="text-center m-b-lg">
        <h1 class="text-shadow text-white">404</h1>
    </div>
    <div class="list-group bg-info auto m-b-sm m-b-lg">
         <a ui-sref="fox.dashboard" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-mail-forward m-r-xs"></i> Goto application
        </a>
    </div>
</div>