<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Create a Job Posting</h1>
			<form ng-submit="vm.submitForm()" name="form" novalidate class="form-validation">
				<div class="form-group">
					<input type="text" placeholder="Enter Job Title" class="form-control" ng-model="vm.job.title" required />
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<angucomplete-alt id="city"
								placeholder="City"
								pause="400"
								field-required="true"
								initial-value="vm.city"
								remote-url="{{vm.filterUrls.city}}"
								remote-url-data-field="data"
								title-field="name"
								description-field=""
								input-class="form-control"
								minlength="2"
								remote-url-request-formatter="vm.cityRequestFormat"
								selected-object="vm.citySelectCallback"
								match-class="highlight"
								field-required="true"
							></angucomplete-alt>
							<input type="hidden" required ng-model="vm.city.id" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input value="{{vm.province.name}}" class="form-control" type="text" placeholder="Province" readonly />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" placeholder="Postal" class="form-control" ng-model="vm.job.postal" ng-pattern="/[0-9]{5,10}/" required />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<angucomplete-alt id="category"
								placeholder="Category"
								pause="400"
								initial-value="vm.category"
								remote-url="{{vm.filterUrls.category}}"
								remote-url-data-field="data"
								title-field="title"
								description-field=""
								input-class="form-control"
								minlength="2"
								remote-url-request-formatter="vm.categoryRequestFormat"
								selected-object="vm.categorySelectCallback"
								match-class="highlight"
								field-required="true"
							></angucomplete-alt>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<select ng-model="vm.job.priority" class="cs-select cs-skin-elastic">
								<option ng-selected="vm.job.priority == 'standard'" value="standard">Standard</option>
								<option ng-selected="vm.job.priority == 'urgent'" value="urgent">Urgent</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<textarea ckeditor="vm.ckeditorOptions" ng-model="vm.job.description" rows="5" placeholder="" class="form-control"></textarea>
				</div>
				<div class="form-group text-center">
					<button ng-if="!vm.job.isActive()" ng-click="vm.saveDraft()" ng-disabled="!form.$valid" class="btn btn-o btn-success" type="button"><i class="ti-save"></i> Save Draft</button>
					<button ng-disabled="!form.$valid" class="btn btn-o btn-primary" type="submit"><i class="ti-save-alt"></i> Questionnaire, Assessment & Video Interview</button>
					<button class="btn btn-o btn-wide btn-default" ng-click="vm.cancel()" type="button">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>