<form id="schedule" class="form-horizontal form-validation" name="form" novalidate>
	<h3>Add Schedule</h3>
	<div class="ngdialog-message">
		<div class="form-group">
			<label class="control-label col-md-3">
				Available On
			</label>
			<div class="col-md-9">
				<input class="form-control" type="text" placeholder="Date" bs-datepicker ng-model="available_date" data-autoclose="1" data-date-type="string" data-date-format="{{app.format_date}}" data-container="#schedule" data-min-date="{{minDate}}" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Time
			</label>
			<div class="col-md-9">
				<select name="available_hour" id="available_hour" ng-model="available_hour" class="col-md-2">
				  <option ng-repeat="option in date.hours" value="{{option}}">{{option}}</option>
				</select>
				<span class="col-md-1">:</span>
				<select name="available_hour" id="available_min" ng-model="available_min" class="col-md-2">
				  <option ng-repeat="option in date.min" value="{{option}}">{{option}}</option>
				</select>
			</div>
		</div>
		
	</div>
	<div class="ngdialog-buttons text-right">
	    <button type="button" class="btn btn-primary btn-o" ng-click="create()" ng-disabled="!form.$valid">Save</button>
	    <button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
	</div>
</form>