<div class="ngdialog-message">
    <table class="table table-striped table-user">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Username</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in employees">
                <td>
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="checkbox_{{item.getId()}}" ng-model="item.checked" />
                        <label for="checkbox_{{item.getId()}}"></label>
                    </div>
                </td>
                <td>{{item.getUserName()}}</td>
                <td>{{item.getFullName()}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.group}}</td>
            </tr>
            <tr ng-if="vm.items.length == 0">
                <td colspan="6">No record found!</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <pagination rotate="false" boundary-links="true" max-size="5" items-per-page="paginator.per_page" total-items="paginator.total" ng-model="paginator.current_page" ng-change="getList()"></pagination>
    </div>
</div>
<div class="ngdialog-buttons text-right">
    <button type="button" class="btn btn-primary btn-o" ng-click="share()">Share</button>
    <button type="button" class="btn btn-primary btn-o" ng-click="closeThisDialog('no')">Close</button>
</div>