<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mainTitle text-primary">Candidates</h1>
			<div class="clearfix md-pull">
				<div class="btn-group pull-left">
					<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(7)" ng-click="vm.changeFilter(7)">
						Last 7 Days
					</a>
					<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(30)" ng-click="vm.changeFilter(30)">
						Last 30 Days
					</a>
					<a class="btn btn-primary btn-o" href="#" ng-class="vm.isFilterActive(90)" ng-click="vm.changeFilter(90)">
						Last 90 Days
					</a>
				</div>
				<form class="form-inline pull-right">
					<div class="form-group">
						<input ng-model="vm.keyword" ng-keypress="vm.keypress($event)" class="form-control" type="text" placeholder="Search"/>
					</div>
					<div class="form-group">
						<button ng-click="vm.search()" type="button" class="btn btn-primary btn-o">Search</button>
					</div>
				</form>
			</div>
			<table class="table table-striped table-hover margin-top-20">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Job Field
						</th>
						<th>
							Employment Status
						</th>
						<th>
							Working
						</th>
						<th>
							Registered On
						</th>
						<th>
							Location
						</th>
						<th>
							Resume
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items">
						<td class="cursor-pointer" ng-click="vm.viewDetail(item)">{{item.name}}</td>
						<td>{{item.job_title}}</td>
						<td></td>
						<td></td>
						<td>{{item.date}}</td>
						<td>{{item.address.province}}</td>
						<td>
							<i ng-click="vm.viewDetail(item)" class="ti-eye text-primary pointer"></i>
						</td>
					</tr>
					<tr ng-if="vm.items.length === 0">
						<td colspan="7">
							No record found!
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<pagination rotate="false" boundary-links="true" max-size="5" items-per-page="vm.paginator.per_page" total-items="vm.paginator.total" ng-model="vm.paginator.current_page" ng-change="vm.getList()"></pagination>
			</div>
		</div>
	</div>
</div>
