<div class="questionnare openEndedTextDateTime">
    <div class="panel panel-white">
        <div class="panel-heading">
            <strong ng-bind="control.title"></strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="form-field-mask-1">
                    Date <small class="text-success">DD/MM/YYYY</small>
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" name="masked" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ng-model="control.value">
                </div>
            </div>
        </div>
    </div>
</div>
