<div class="ngdialog-message">
    <h3>{{title}}</h3>
    <div class="text-center" ng-bind-html="message"></div>
</div>
<div class="ngdialog-buttons text-right">
    <button type="button" class="btn btn-primary btn-o" ng-click="confirm('yes')">Yes</button>
    <button type="button" class="btn" ng-click="closeThisDialog('no')">No</button>
</div>