<!-- sidebar -->
<div class="sidebar app-aside" id="sidebar" toggleable parent-active-class="app-slide-off" >
    <div perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" class="sidebar-container">
        <div data-ng-include="'common/sidebar.tpl.html'"></div>
    </div>
</div>
<!-- / sidebar -->
<div class="app-content">
    <header data-ng-include="'common/top-navbar.tpl.html'" class="navbar navbar-default navbar-static-top"></header>
    <!-- main content -->
    <div data-ng-include="'common/main-content.tpl.html'" class="main-content" ></div>
    <!-- / main content -->
</div>

<div data-ng-include=" 'common/off-sidebar.tpl.html' " id="off-sidebar" class="sidebar" toggleable parent-active-class="app-offsidebar-open"></div>