<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
        <i class="ti-align-justify"></i>
    </a>
    <a class="navbar-brand">
        <img src="img/logo-home.png" height="60" alt="Career Fox" />
    </a>
    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
        <i class="ti-align-justify"></i>
    </a>
    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <i class="ti-view-grid"></i>
    </a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
    <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
        <!-- start: LANGUAGE SWITCHER -->
        <!-- <li class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="ti-world"></i> {{language.selected}}
            </a>
            <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                <li ng-repeat="(localeId, langName) in language.available">
                    <a ng-click="language.set(localeId, $event)" href="#" class="menu-toggler">
                        {{langName}}
                    </a>
                </li>
            </ul>
        </li> -->
        <!-- start: LANGUAGE SWITCHER -->
        <li class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                <span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span>MESSAGES</span>
            </a>
            <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                <li>
                    <span class="dropdown-header"> Unread messages</span>
                </li>
                <li>
                    <div class="drop-down-wrapper ps-container">
                        <ul>
                            <li class="unread">
                                <a href="javascript:;" class="unread">
                                    <div class="clearfix">
                                        <div class="thread-image">
                                            <img src="./img/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="thread-content">
                                            <span class="author">Nicole Bell</span>
                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                            <span class="time"> Just Now</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="unread">
                                    <div class="clearfix">
                                        <div class="thread-image">
                                            <img src="./img/avatar-3.jpg" alt="">
                                        </div>
                                        <div class="thread-content">
                                            <span class="author">Steven Thompson</span>
                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                            <span class="time">8 hrs</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
                                        <div class="thread-image">
                                            <img src="./img/avatar-5.jpg" alt="">
                                        </div>
                                        <div class="thread-content">
                                            <span class="author">Kenneth Ross</span>
                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                            <span class="time">14 hrs</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="view-all">
                    <a href="#">
                        See All
                    </a>
                </li>
            </ul>
        </li>
        <!-- start: USER OPTIONS DROPDOWN -->
        <li class="dropdown current-user" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                <img src="img/avatar-1.jpg" alt="Peter"> <span class="username">Peter <i class="ti-angle-down"></i></i></span>
            </a>
            <ul class="dropdown-menu dropdown-dark">
                <li>
                    <a ui-sref="app.pages.user">
                        My Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        My Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        My Messages (3)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Lock Screen
                    </a>
                </li>
                <li>
                    <a href="#">
                        Log Out
                    </a>
                </li>
            </ul>
        </li>
        <!-- end: USER OPTIONS DROPDOWN -->
    </ul>
    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
    <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
    </div>
    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->

</div>
<a class="dropdown-off-sidebar" style="height:65px;background-color:#FDF5E8 !important;" ng-click="toggle('off-sidebar')">
    &nbsp;
</a>
<!-- end: NAVBAR COLLAPSE
