<div>
    <div ng-if="!editing" ng-include="'questionnaire/types/multiple-choice/view.tpl.html'"></div>
    <div ng-if="editing" ng-include="'questionnaire/types/multiple-choice/edit.tpl.html'"></div>
</div>