<form class="form-horizontal form-validation" name="form" novalidate>
	<h3>Add Reference</h3>
	<div class="ngdialog-message">
		<div class="form-group">
			<label class="control-label col-md-3">
				name
			</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="reference.name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Email
			</label>
			<div class="col-md-9">
				<input type="email" class="form-control" ng-model="reference.email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">
				Phone
			</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="reference.phone"/>
			</div>
		</div>
		
		
	</div>
	<div class="ngdialog-buttons text-right">
	    <button type="button" class="btn btn-primary btn-o" ng-click="create()" ng-disabled="!form.$valid">Save</button>
	    <button type="button" class="btn" ng-click="closeThisDialog('cancel')">Cancel</button>
	</div>
</form>