<div class="container-fluid container-fullw bg-white reference-checks">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-primary">Reference Checks: Paul Z</h1>

            <div class="row header-large-screen">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon"> <i class="ti-search"></i> </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-heading ref-title">
                        <h4 class="title text-primary">&nbsp;</h4>
                        <button class="btn btn-primary btn-o" style="right:162px" type="button"><i class="ti-pin"></i>
                            Select a template
                        </button>
                        <button class="btn btn-primary btn-o" type="button"><i class="fa fa-upload"></i> Upload a
                            template
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-right ref-title">
                        <button class="btn btn-primary btn-o" type="button" ng-click="vm.addReference();">Add Reference</button>
                        <button class="btn btn-primary btn-o" type="button">Save</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group header-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon"> <i class="ti-search"></i> </span>
                        </div>
                    </div>
                    <div class="panel panel-white no-padding left-refernce-check">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Reference Checks</h4>
                            <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-class="{active: vm.isActive(item)}" ng-click="vm.select(item)"
                                            ng-repeat="item in vm.candidates">
                                            <td class="pointer">
                                                {{item.name}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-heading ref-title header-inline">
                        <h4 class="title text-primary">Reference: Paul Z</h4>
                        <button class="btn btn-primary btn-o" style="right:162px" type="button"><i class="ti-pin"></i>
                            Select a template
                        </button>
                        <button class="btn btn-primary btn-o" type="button"><i class="fa fa-upload"></i> Upload a
                            template
                        </button>
                    </div>
                    <form>
                        <div class="form-group">
                            <textarea ckeditor="vm.ckeditorOptions" ng-model="body" rows="5" placeholder=""
                                      class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-right header-inline">
                        <button class="btn btn-primary btn-o" type="button">Add Reference</button>
                        <button class="btn btn-primary btn-o" type="button">Save</button>
                    </div>
                    <div class="panel panel-white no-padding right-refernce-check">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Jenniffers References</h4>
                            <ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false"
                                 suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>Jenniffer Kiss</td>
                                        </tr>
                                        <tr>
                                            <td>Amanda Todd</td>
                                        </tr>
                                        <tr>
                                            <td>Kevin Stedfast</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button ng-if="vm.showInvite()" ng-disabled="!vm.isSelected()" class="btn btn-primary btn-large btn-o" type="button" ng-click="vm.invite()">Invite to Offer</button>
                        <button ng-if="!vm.showInvite()" ng-disabled="true" class="btn btn-success btn-large  btn-o" type="button">Invited</button>
                    </div>
                </div>
            </div>
            <div class="form-group text-center floating-nav-jobs">
                <div>
                <button ng-click="vm.gotoInterviewNote()" class="btn btn-o btn-success" type="button"><i
                        class="fa fa-arrow-left"></i> Interview Notes
                </button>
                <button ng-click="vm.gotoOfferLetter()" class="btn btn-o btn-primary" type="button">Offer Letter <i
                        class="fa fa-arrow-right"></i></button>
            </div>
                </div>
        </div>
    </div>
</div>
